/* You can add global styles to this file, and also import other style files */
/* styles.css */
.custom-button {
  background-color: #000000; /* Color de fondo */
  color: #00e1ff; /* Color del texto */
  border: none; /* Sin borde */
  padding: 10px 20px; /* Relleno para hacer que los botones sean más grandes */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar el mouse sobre el botón */
  margin: 5px; /* Espacio entre los botones */
}

.custom-button:hover {
  background-color: #000000; /* Cambia el color de fondo al pasar el mouse sobre el botón */
}
